@import url('https://fonts.googleapis.com/css?family=Merriweather');
@charset "utf-8";
/***
 * This font is not available from here anyomre. Leaving this here to be able to
 * quickly readd it if it becomes available again
 ***
@font-face {font-family: "BiographerW00-Regular";
    src: url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.eot");
    src: url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.svg#BiographerW00-Regular") format("svg");
}
 ***
 *
 ***/
@font-face {font-family: "Bilbo";
src: url("fonts/Bilbo-Regular.ttf")}

@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans');


html {
	background-color: #036;
    font-family: "Calibri","sans-serif";
    background: url("./bilder/grefsenkollen.jpg") no-repeat center center fixed;
    background-size: cover;
}


h4 {
    margin-bottom: 0rem;
}

p {
    margin-top: 0.5rem;
}

a {
    color: #000;
    text-decoration: underline;
}

a:hover {
    color: #777;
    text-decoration: none;
}

/***
 * Font-info here isn't used for the time being because the site we found the font on
 * disappeared. Leaving it here so we have the ability to reuse quickly if the font comes
 * back up
 ***/
.header {
	font-family: "BiographerW00-Regular","Bilbo","Sans-serif";
	text-align: center;
    background-color: rgba(255, 255, 255, .8);
    padding: 1rem;
    vertical-align: middle;
    position: relative;
}

.header .header-image {
    height: 5rem;
    width: auto;
}

.title-headers {
    display: inline-block;
    width: 80%;
}

.header h1 {
	font-size: 3.5rem;
	font-weight: normal;
	margin: 0.1rem 0.2rem;
    color: #434343;
}

.header h2 {
	font-size: 1.75rem;
	font-weight: normal;
	margin: -1.5rem auto auto -.5rem;
    color: #007f99;
}

.main-menu {
    list-style-type: none;
    background-color: rgba(255, 255, 255, .8);
    margin: 1rem auto auto auto;
    padding: 1rem;
    display: none;
}

.main-menu li {
    display: block;
    margin: 0;
    padding: 0;
    color: #000;
    padding: 14px 16px;
    font-size: 1.5rem;
    
}

.main-menu li a{
    text-decoration: none;
    color: inherit;
}

.header .hamburger {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: -.5rem;

    /* Trengs ikke pga kollapsede seksjoner */
    display: none;
    
}

.header .hamburger a img {
    width: 100%;
    height: 100%;
}

.content-area {
    width: 95%;
    height: auto;
    margin: 0 2.5% auto 2.5%;
    padding: 0;
}

.page-section {
    background-color: #FFF;
    margin: 1em auto auto auto;
    padding: 2rem;
}

.page-section h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.page-section h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    font-size: 6mm;
}

.page-section .pc-title{
    display: none;
}

.page-section h1 a {
    text-decoration: none;
}

.page-section h1 a:hover {
    color: inherit;
}

.page-section .toggle-button {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    vertical-align: top;
}

.page-section .toggle-button .expand{
    display: block;
    width: 100%;
    height: 100%;
    background: url("./bilder/expand.png") no-repeat;
    background-size: contain;
}

.page-section .toggle-button .collapse{
    display: block;
    width: 100%;
    height: 100%;
    background: url("./bilder/collapse.png") no-repeat;
    background-size: contain;
}

.page-section .inner {
    display: none;
    margin-top: 1rem;
}

.welcome-text {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.welcome-image{
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.welcome-image img {
    width: 100%;
}

.program-text{
    display: inline-block;
}

.location-pics {
    display: inline-block;
}
.location-pics img {
    width: 100%;
}

.where-text {
    display: inline-block;
}

#map {
        width: 100%;
        height: 400px;
        margin: 0;
        vertical-align: top;
        background-color: grey;
}

.google-maps {
    width: 100%;
    display: inline-block;
    text-align: right;
}

.google-maps h5 {
    padding: 0.8rem;
    display: inline-block;
    background-color:#dfecdf;
}

.news-box {
    margin-bottom: 3em;
}

.news-text {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.news-text h3 {
    margin-top: 0;
}

.page-section.breaking-news .inner img {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.shortlist__list {
    text-align: left;
}

.shortlist__list li {
    margin: 1em auto;
}

.shortlist__listtext {
    font-size: initial;
    line-height: initial;
}

@media (min-width: 40rem) {
    .content-area {
        max-width: 60rem;
        margin: 0 auto auto auto;
    }

    .welcome-text {
        width: 65%;
    }

    .welcome-image {
        width: 30%;
        margin-left: 2.5%;
    }

    .location-pics img {
        width: auto; /*45%;*/
        height: 25rem;
    }

    .header {
        background-color: transparent;
        padding-bottom: 0;
    }

    .header .header-image {
        height: 10rem;
        width: auto;
    }

    .header .hamburger {
        display: none;
    }

    .title-headers {
        display: block;
        width: 100%;
    }

    .header h1 {
        font-size: 5rem;
        margin: 0.1rem 0.2rem;
    }
    
    .page-section h1 a {
        display: none;
    }

    .page-section .pc-title{
        font-size: 2em;
        display: inline-block;
    }

    .header h2 {
        font-size: 2.5rem;
        margin: -2.6rem auto auto -.5rem;
    }

    .main-menu {
        display: block;
        background-color: transparent;
        padding: 0;
        margin: auto auto 1rem auto;
    }

    .main-menu li {
        display: inline-block;
        margin: 0;
        padding: .5rem;
        font-size: 1.3rem;
        border-bottom: solid 2px transparent;
    }

    .main-menu li:hover {
        border-bottom: solid 2px white;
    }

    .page-section .inner {
        display: block;
    }

    .page-section .inner-open {
        display: block;
    }

    .where-text {
        width: 50%;
    }

    .google-maps {
        width: 45%;
        margin-left: 2.5%;
    }

    .news-text {
        width: 55%;
        padding-right: 2rem;
    }

    .page-section.breaking-news .inner img {
        width: 40%;
    }

    .page-section .toggle-button {
        display: none;
    }
}

