@charset "utf-8";
@font-face {font-family: "BiographerW00-Regular";
    src: url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.eot");
    src: url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/79c46da5a7b9412a9a35cc5cca52cb56.svg#BiographerW00-Regular") format("svg");
}
html {
	background-color: #036;
}

.header {
	font-family: "BiographerW00-Regular","Sans-serif";
	text-align: center;
}
.header h1 {
	font-size: 5rem;
	font-weight: normal;
	margin: 0.1rem 0.2rem;
}

.header h2 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0rem 0.2rem;
}

.main-menu {
    list-style-type: none;
    font-family: "BiographerW00-Regular","Sans-serif";
}

.main-menu li {
    display: inline-block;
}

.main-menu li a{
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content-area {
    width: 95%;
    height: auto;
    margin: 0 2.5% auto 2.5%;
    padding: 0;
}

.page-section {
    background-color: #FFF;
    margin: 1em auto auto auto;
    padding: 2.5%;
}

.page-section h1 {
    margin: 0;
    padding: 0;
}
.page-section h2{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}
.welcome-text {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.program-text{
    display: inline-block;
}

.welcome-image{
    width: 100%;
    display: inline-block;
    right: 0;
    margin: 0;
    vertical-align: top;
}

.welcome-image img {
    width: 100%;
}

@media (min-width: 40rem) {
    .content-area {
        max-width: 60rem;
        margin: 0 auto auto auto;
    }

    .welcome-text {
        width: 65%;
    }

    .welcome-image {
        width: 30%;
        margin-left: 2.5%;
    }
}